[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lexRankr"]
	path = lexRankr
	url = https://github.com/adamspannbauer/lexrankr
[submodule "rPackedBar"]
	path = rPackedBar
	url = https://github.com/adamspannbauer/rpackedbar
